a{
  text-decoration: none
}
.general-container{
   display: flex;
    width: 950px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;


}
.search-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  margin-bottom: 15px
}

.pokemon-enter{
 transform: translateY(-100px);
 transition: all 300ms;
 opacity: 0;

}
.pokemon-enter-active{
 transition: all 300ms;
   opacity: 1;
  transform: translateY(0px);

}

.pokemon-exit{
 opacity: 0.5;

}

.pokemon-exit-active{
   opacity: 0;

}

.pokeball-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 0px;
  margin-top:30%;
  margin-bottom: -30%;
}

.pokeball-image{
  width: 60px;
  height: 60px;
  animation: pokeball-spin infinite 1s linear;
  position: absolute;
  
  /* top: 10px; */

}

.pokeball-enter{
  
   transition: all 300ms;
   opacity: 0;
  transform: translateY(0px);


}
.pokeball-enter-active{
  
  transform: translateY(-100px);
 transition: all 300ms;
 opacity: 1;
}

.pokeball-exit{
  opacity: 0.5;
  /* transform: scale(15);
  transition: all 2s */
}

.pokeball-exit-active{
  opacity: 0;
  transform: scale(5);
  transition: all 300ms

}



@media (max-width:937px){
  .general-container{
    width: 90%
  }
  .search-bar-container{
    width: 100%
  }
}

@keyframes pokeball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
 overflow-y: scroll;
  transition: background-color 0.5s ease;

}