.top-section-detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  justify-content: space-between;
  height: 33%;
  margin-top: 5px;
  width: 85%
}
.down-section-detail{
  display: flex;
  flex-direction: row;
  margin-left: 26px;
  height: 33%;
  margin-bottom: 5px;
  width: 90%
  
}
.middle-section-detail{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  height: 33%;
  margin-bottom: 0px;
  align-items: center;
  justify-content: space-between;
  color:#00000077;  
  width: 85%

}
.classification-detail{
  margin-right: 40%
}

.pokemon-number-detail{
  color:#00000077;  
  font-size: 18px;
  font-weight: 300;
  margin-left: 50%;
}


.Fire{
  background-color: #ffb74d
}
.Grass{
  background-color: #81c784
}
.Water{
  background-color: #90caf9
}
.Bug{
  background-color: #cddc39
}
.Normal{
  background-color: #bdbdbd
}
.Electric{
  background-color: #f4ff81
}
.Poison{
  background-color: #e1bee7
}
.Ground{
  background-color: #ffe082
}
.Fairy{
  background-color: #ffcdd2
}
.Fighting{
  background-color: #ef5350
}
.Rock{
  background-color: #795548
}
.Psychic{
  background-color: #ff4081
}
.Ghost{
  background-color: #9575cd
}
.Dragon{
  background-color: #7986cb
}

@media (max-width:650px){
  .top-section-detail{
    margin-left: 5px
  }
  .down-section-detail{
    margin-left: 5px;
    width: 90%
  }
  .middle-section-detail{
    margin-left: 5px;
    
  }
  .pokemon-number-detail{
    margin-left:0px
  } 
  .classification-detail{
    margin-right: 0px
  }
}