.top-section{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  align-items: center;
  height: 50%;
  margin-top: 10px;
  width: 80%
}
.down-section{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  height: 50%;
  margin-bottom: 10px;
  width: 80%

}
.icons-container{
  display: flex;
  align-items: baseline;
    margin-left: auto;
}
.pokemon-number{
  color:#00000077;  
  font-size: 18px;
  font-weight: 300;
  margin-right: 15px
}

.each-type{
  text-decoration: none; 
  
  border:1px solid #00000077;
  list-style: none;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
  border-radius: 10px;
  color:#00000077;  
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 0px;
  min-width: 80px ;
  width: 100%
}

.Fire{
  background-color: #ffb74d
}
.Grass{
  background-color: #81c784
}
.Water{
  background-color: #90caf9
}
.Bug{
  background-color: #cddc39
}
.Normal{
  background-color: #bdbdbd
}
.Electric{
  background-color: #f4ff81
}
.Poison{
  background-color: #e1bee7
}
.Ground{
  background-color: #ffe082
}
.Fairy{
  background-color: #ffcdd2
}
.Fighting{
  background-color: #ef5350
}
.Rock{
  background-color: #795548
}
.Psychic{
  background-color: #ff4081
}
.Ghost{
  background-color: #9575cd
}
.Dragon{
  background-color: #7986cb
}

@media (max-width:650px){
  .top-section{
    margin-left: 15px
  }
  .down-section{
    margin-left: 15px
  }
}