.each-type-detail{
  text-decoration: none; 
  border:1px solid #00000077;
  list-style: none;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 10px;
  color:#00000077;  
  text-transform: uppercase;
  font-size: 15px;
  min-width: 120px;
}

@media (max-width:320px){
  .each-type-detail{
    width: 100px
  }
}
