.image-container{
  width: 20%;
  display: flex;
  align-items: center;
  height: 83%;
  padding: 10px;
  background-color: #ffffffb2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  justify-content: center;
      padding-bottom: 6px;
}

.image{
  transform: scale(1);
  align-self: center
}

.isLoading{
  width: 24px;
  height: 24px;
}