.slider-container{
    width: 70%;
    overflow: hidden;
    border: 1px solid #00000077;
    display: -webkit-flex;
    display: flex;
    height: 20px;
    border-radius: 10px;

}
.attack-damage{
  min-width: 5px;
}
.attack-name{
    text-align: left;
    line-height: 15px;
    font-size: 12px;
    color: #00000077;
    text-transform: uppercase;
    margin-right: auto;
    width: 30%
}

.Fire{
  background-color: #ffb74d
}
.Grass{
  background-color: #81c784
}
.Water{
  background-color: #90caf9
}
.Bug{
  background-color: #cddc39
}
.Normal{
  background-color: #bdbdbd
}
.Electric{
  background-color: #f4ff81
}
.Poison{
  background-color: #e1bee7
}
.Ground{
  background-color: #ffe082
}
.Fairy{
  background-color: #ffcdd2
}
.Fighting{
  background-color: #ef5350
}
.Rock{
  background-color: #795548
}
.Psychic{
  background-color: #ff4081
}
.Ghost{
  background-color: #9575cd
}
.Ice{
  background-color: #bbdefb
}
.Steel{
  background-color: #e0e0e0
}
.Dark{
  background-color: #8d6e63
}
.Dragon{
  background-color: #7986cb
}