.card-container-detail{  
  
  font-family: "Open Sans", sans-serif;
  display: flex;
 
  width: 430px;
  margin: 10px 10px;
  flex-direction: row;
  
  border-radius: 10px;
  height: 120px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  background-color: #ffffff28;
  transition: all 0.5s
}

.card-container-detail:hover{
  cursor: pointer;
  box-shadow: 1px 2px 10px #86848491;
}
@media (max-width:650px){
  .card-container-detail{
    margin: auto;
    width: 90%;
    margin-top: 10px
  }
}