.item-container{
    border-radius: 10px;
    width: 40%;
    margin: auto;
    border: 1px solid #00000077;
    margin-bottom: 0px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-content{
  font-size: 12px;
  color: #00000077;
  text-align: center
}
.item-name{
  font-size: 12px;
  color: #00000077;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;

}