.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 950px;
  margin: auto;
  flex-direction: column;
  padding-bottom: 30px
}
.background{
  transition: all 0.7s
}
.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonCard{
  transform: translateY(0px);
  transition: all 300ms;
  opacity: 1;
}

.pokemonCard-enter, .pokemonCard-appear{
  opacity: 0;
  transform: translateY(50px);
  transition: all 300ms;

}

.pokemonCard-enter-active, .pokemonCard-appear-active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms;
}

.pokemonCard-exit{
 opacity: 1;
  transform: translateY(0px);
  transition: all 300ms;
  
  
}
.pokemonCard-exit-active{
  opacity: 0;
  transform: translateY(50px);
  transition: all 300ms;


}



.Fire{
  background-color: #ffb74d
}
.Grass{
  background-color: #81c784
}
.Water{
  background-color: #90caf9
}
.Bug{
  background-color: #cddc39
}
.Normal{
  background-color: #bdbdbd
}
.Electric{
  background-color: #f4ff81
}
.Poison{
  background-color: #e1bee7
}
.Ground{
  background-color: #ffe082
}
.Fairy{
  background-color: #ffcdd2
}
.Fighting{
  background-color: #ef5350
}
.Rock{
  background-color: #795548
}
.Psychic{
  background-color: #ff4081
}
.Ghost{
  background-color: #9575cd
}
.Dragon{
  background-color: #7986cb
}

li{
  list-style: none;
  text-align: justify;
  margin-left: 30%;
}