.specie-container{
   
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 390px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    background-color: #ffffffc2;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    margin: 0px;
    margin-bottom: 5px;
    
}

@media (max-width:650px){
  .specie-container{
    width: 90%;
    padding-left: 0px  ;
    padding-right: 0px;
    margin: auto
  }
}
